@import '../../../assets/scss/variables';
.alert-box{
    z-index: 10001;
}

.box-postion {
    width: auto;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 500;
  }
  
  
  .app-msg-cont{
    justify-content: space-between;
    border-radius: 4px;
    min-height: 40px;
    padding: 12px 16px;
  }
  
  
  .success-msg-box{
    background-color: $Panache-green;
    border:1px solid $success-col;
  }
  
  .info-msg-box{
    background-color: $alice-blue;
    border:1px solid $dodger-blue;
  }
  
  .warning-msg-box{
    background-color: $floral-white;
    border:1px solid $warning-color;
  }
  
  .error-msg-box{
    background-color: $Chablis-red;
    border:1px solid $error-color;
  }
  