@media screen and (max-width: 768px) {
    .youtube-video{
        width: 100%;
        
    }
  }

  @import '../../../../assets/scss/variables';
.video-wrapper {
    min-width: 15rem;
    min-height: 15.625rem;
    object-fit: contain;
}

.image-wrapper {
    background-color: #fff;
    border: 1px solid #dee2e6;
    min-height: 255px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0.25rem;
    display: inline-block;
    &:hover {
        cursor: zoom-in;
        box-shadow: 2px 1px 6px 4px rgba(0,0,0,0.2);
    }
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: none;
    max-width: 100%;
    height: 255px;
    vertical-align: middle;
    object-fit: contain;
}

.image-description {
    font-size: 18px;
    color: $primaryColor;
    font-style: italic;
}

.modal-body {
    .image-wrapper {
        display: flex;
        justify-content: center;
        background: #ccc;
        align-items: center;
        min-height: 455px;
    }
}

.container {

  .container .btn {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 14px;
    margin-right: 15px;
    padding: 3px 5px;
    transition: all .2s ease-in-out;
  }

  .container .btn:hover {
    font-size: 20px;
  }
}