<ng-container>
    <app-hero-image [heading]="'Press'" [bgImageClass]="'contact-us'"></app-hero-image>
    <div class="container-fluid gallery m-t-24">
        <div class="container">
            <div class="d-flex justify-content-center custom-tabs m-b-16 animated fadeInRight my-3">
                <ul class="list-unstyled d-flex">
                    <li [ngClass]="{'active': mediaType ==='news'}" (click)="mediaType = 'news'">News Articles</li>
                    <li [ngClass]="{'active': mediaType ==='videos'}" (click)="mediaType = 'videos'">Videos</li>
                </ul>
            </div>

            <div class="row" *ngIf="mediaType ==='videos'">
                <div class="col-lg-6 col-sm-12  text-center video-wrapper mb-3"
                    *ngFor="let video of galleryVideos; let i = index">
                    <iframe width="100%" height="315" class="youtube-video"
                        [src]="sanitizer.bypassSecurityTrustResourceUrl(video.path)" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="">
                    </iframe>
                    <div class="image-description"> {{video.description}}</div>
                </div>
            </div>
        </div>
        <div class="container m-t-24" *ngIf="mediaType ==='news'">
            <div id="pressImages" class="row m-t-24 m-b-24" c>
                <div class="col-lg-4 col-sm-4 col-6 mb-4 text-center" *ngFor="let image of pressImages;let i = index">
                    <a class="image-wrapper mb-2">
                        <div class="container" [id]="'press' + i">
                            <img (click)="open(content, i)" [defaultImage]="lazyLoadImage" [lazyLoad]="image.path" alt="1"
                            class="thumbnail img-thumbnail" [title]="image.description">
                            <a [href]="'https://www.facebook.com/sharer.php?u=https://sadisha.org/%23/press%23press' + i" class="address-nav__link social-icon btn">
                                <span class="mdi mdi-share"></span>
                            </a>
                          </div>
                    </a>
                    <div class="image-description"> {{image.description}}</div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title text-center primary-color" id="modal-basic-title">Press Images view</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-carousel #carousel [activeId]="selectedIndex">
                <ng-template ngbSlide *ngFor="let img of pressImages; let i =index" id="ngb-slide-{{i}}">
                    <div class="carousel-caption">
                        <h3 class="white-color">{{img.description}}</h3>
                    </div>
                    <div class="picsum-img-wrapper image-wrapper image-wrapper--modal">
                        <img [src]="img.path" class="img-thumbnail img-thumbnail--modal" alt="{{img.description}}">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </ng-template>
</ng-container>