.feature {
    max-width: 1440px;
    margin: 0 auto;
    
    &__wrapper {
        border-radius: 10px;
        box-shadow: 0px 6px 11px rgb(0 0 0 / 10%);
        cursor: pointer;
        margin-top: 38px !important;
        &:hover {
            box-shadow: 0px 6px 11px rgb(0 0 0 / 30%);
        }
    }

    &__icon {
        img {
            width: 65px;
        }
    }
}