@import '../../../assets/scss/variables';

.images-preview {
    &__wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        padding: 5px;
        border-radius: 2px;
        position: relative;
    }

    &__img-parent {
        padding: 0;

        img {
            height: 300px;
            max-width: 100%;
            object-fit: contain;
        }

        iframe {
            height: 300px;
            max-width: 100%;
            object-fit: cover;
        }
        .edit-icon-img {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 82px;
            top: 15px;
            cursor: pointer;
        }
    }

.image-description {
    font-size: 18px;
    color: $primaryColor;
    font-style: italic;
}
    &__toggle-switch {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}