<div class="container-fluid text-center">
    <h3 class="mt-4">Please fill in and submit the following form to register your school:</h3>
        <h3 class="mt-4">
            <a class="theme-color" href="https://docs.google.com/forms/d/14JScO7iDsNwoJ4_gJXeO4v27lUNhYMhH95Pr1oqi-LU"
            rel="noopener noreferrer" target="_blank">School Registration Form</a></h3>
    <h3 class="mt-4">
        Please fill in and submit the following form to register as a student:
    </h3>
      <h3 class="mt-4">  <a class="theme-color" href="https://docs.google.com/forms/d/1VLR2URxi25azZzEk6Hbui3nApFr7JXVEJkrJf7HwdJM"
        rel="noopener noreferrer" target="_blank">Student Registration Form</a></h3>
      <br>
      <h2 class="note">Note: If you are part of any of the Finalized Centers found in the bottom, you do not have to register.</h2>
    <br>
    <h3>
        Point of Contact: Praveen @ +91-9550895968
    </h3>
    <br><br>
    <h2>
        Centers Finalized So Far
    </h2>
    
</div>