.title{
    font-weight: 500;
    text-align: center;
}
.dnd-container{
    width: 100%;
    margin: auto;
    height: 10rem;
    border: 1px dashed
    #745cf2;
    
    .preview{
        width: 20%;
        height: 20%;
    }
}
.label {
    display: inline-block;
    min-width: 100px;
}
#parent {
    display: flex;
   // justify-content: space-around;
  }
  
  #left {
    
    border: 1px solid lightgray;
    background-color: white;
    width: 50%;
    position: relative;
  }
  
  #right {
    border: 1px solid lightgray;
    background-color: white;
    width: 50%;
    position: relative;
  }
  /* Add this to your component's CSS file */
.webcam-image {
    max-width: 100%; /* Limit the image width to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure it doesn't inherit any unexpected styles */
    margin: 0 auto; /* Center the image horizontally within its container */
  }
  
  .preview-image {
    width: 100%;
    height: 15rem;
}

.web-perms-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-perms-btn {
    color: black;
}