.title{
    font-weight: 500;
    text-align: center;
}
.dnd-container{
    width: 100%;
    margin: auto;
    height: 10rem;
    border: 1px dashed
    #745cf2;
    
    .preview{
        width: 100%;
        height: 100%;
    }
}
.label {
    display: inline-block;
    min-width: 100px;
}

.register-link {
    margin-top: 20px;
    display: inline-block;
    text-decoration: underline !important;
    font-size: 18px;
}