<app-hero-image [heading]="'Volunteer Registration'" [bgImageClass]="'contact-us'"></app-hero-image>
<div class="row">
    <div class="reg-form col-12">
         <ng-container>
     <div style='color:#ff7355' class="text-center f-22 m-t-32 m-b-20 red">
      <b>
        <!--<a class="terms" href="/assets/registration-guidelines.html" target="_blank" style="color:red;"> -->
            <U> VOLUNTEER REGISTRATIONS 2025 ARE CLOSED !!</U>
      </b>
  </div>
</ng-container>
       <!-- <ng-container *ngIf="showForm">
            <h3 class="primary-text m-l-16 text-center f-22 m-t-32 m-b-20 font-italic">Registration Form</h3>
            <form [formGroup]="registrationForm" (submit)="registerVolunteer()">
                <div class="row">
                    <div class="form-group col-12 col-sm-6 col-md-4">
                        <label class="label"> Volunteer Name <span class="required-star">*</span></label>
                        <input type="text" formControlName="volunteerName" class="form-control" id="volunteerName">
                        <div class="f-14 error-message"
                            *ngIf="(registrationForm.get('volunteerName').touched || formSubmitted) && registrationForm.get('volunteerName').hasError('required')">
                            Please Enter Volunteer Name</div>
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-4">
                        <label class="label"> Gender <span class="required-star">*</span></label>
                        <ng-select [items]="genders" formControlName="gender" id="gender" name="gender" [clearable]="false">
                        </ng-select>
                        <div class="f-14 error-message"
                            *ngIf="(registrationForm.get('gender').touched || formSubmitted) && registrationForm.get('gender').hasError('required')">
                            Please Select Gender</div>
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-4">
                        <label class="label"> Zones <span class="required-star">*</span></label>
                        <ng-select [items]="districtsList" formControlName="zone" id="zone"  name="zone" bindLabel="name" [clearable]="false">
                        </ng-select>
                        <div class="f-14 error-message"
                            *ngIf="(registrationForm.get('zone').touched || formSubmitted) && registrationForm.get('zone').hasError('required')">
                            Please Select Zone</div>
                    </div>

                    <div class="form-group col-12 col-sm-6 col-md-4">
                        <label class="label"> Contact Number <span class="required-star">*</span></label>
                        <input type="text" numbersOnly maxlength="10" minlength="10" formControlName="contactNumber" class="form-control" id="contactNumber">
                        <div class="f-14 error-message">
                        <span *ngIf="(registrationForm.get('contactNumber').touched || formSubmitted) && registrationForm.get('contactNumber').hasError('required')">
                            Please Enter Contact Number
                        </span>

                        <span *ngIf="(registrationForm.get('contactNumber').touched || formSubmitted) && (registrationForm.get('contactNumber')?.value?.length > 0 && registrationForm.get('contactNumber')?.value?.length < 10)">
                            Please Enter Valid Contact Number
                        </span>
                        </div>
                    </div>

                    <div class="m-t-28 text-center" style="color: blue;">
                        <label class="label">
                          <br><input type="checkbox" formControlName="Vany"/>&nbsp;Willing To Volunteer Anywhere</label>
                    </div>
                </div>
                <div class="m-t-28 text-center">
                    <button type="submit"  [disabled]="isAPILoading" class="my-btn my-btn-primary">
                        <span *ngIf="!isAPILoading">Register</span>
                        <span *ngIf="isAPILoading">Registering...</span>
                    </button>
                    <button type="button" class="my-btn cancel-btn m-l-28" (click)="resetForm()">Reset</button>
                </div>
            </form>

            <p class="mt-4">
                <b>NOTE 1:</b> If you found it difficult to register, please call  <a class="primary-text pointer" href="tel:9550895968">9550895968</a> or email to <a class="primary-text pointer" href="mailto:admin@sadisha.org">admin@sadisha.org</a> with the details.
            </p>
        </ng-container>

        <div *ngIf="!showForm" class="text-center">
            <h3 class="primary-text m-l-16 text-center f-22 m-t-32 m-b-20 font-italic">Thank you for registering, <b>{{newVolunteer.name}}!</b> </h3>

            <p> Please Save the User Name and Password for future references. The Exam Date is on 09th November 2025. We really appreciate your support!!</p>
            <div>
                <span class="label"> User Name: </span>
                <span>{{newVolunteer.userName}}</span>
            </div>
            <div>
                <span class="label"> Password: </span>
                <span>{{newVolunteer.password}}</span>
            </div>

            <a (click)="showForm = true" class="primary-text pointer link register-link">Register New Volunteer</a>
        </div> -->
    </div>
</div>
